ENSCHEDULE_WORKER_URL=http://localhost:3333

# A secure key allowing the dashboard to communicate with the workers
ENSCHEDULE_API_KEY=secret_key

# The secret for the short lived access JWT token
ENSCHEDULE_ACCESS_TOKEN_SECRET=secret_key
# The secret for the long lived refresh JWT token
ENSCHEDULE_REFRESH_TOKEN_SECRET=secret_key

# Set the "Secure" attribute is set on the cookie
# When true the browser needs an HTTPS connection for the dashboard login to work
ENSCHEDULE_HTTPS_ONLY_COOKIES=false
# Cookie secrets should be a comma separated list https://remix.run/docs/en/main/utils/cookies#signing-cookies
# Can be changed to refresh the session cookies
ENSCHEDULE_COOKIE_SESSION_SECRET=s3cr3t

NAFS_URI=enstore://admin:password?endpoint=http://localhost:3456
